<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/TailwindCss/output.css')}}"
    />
  </head>
  <body class="">
    <div class="bg-yellow-400 rounded-b-3xl h-60">
      <nav class="fixed top-0 p-5 w-full">
        <header class="text-xl font-bold">
          <span class="text-green-500">Taa</span><span>rit</span>
        </header>
      </nav>
      <div id="nav_bar" class="">
        <main class="pt-28 p-5 h-20">
          <div
            class="block max-w-sm p-6 border bg-gray-800 text-white rounded-xl shadow"
          >
            <h5
              class="mb-10 text-sm font-bold tracking-tight justify-start flex"
            >
              Helping
            </h5>
            <ul class="font-medium flex flex-col gap-2 overflow-scroll text-xs">
              <div class="grid grid-cols-2">
                <li>Name</li>
                <li>chirag</li>
              </div>
              <div class="grid grid-cols-2">
                <li>Email</li>
                <li>webholderx@gmail</li>
              </div>
              <div class="grid grid-cols-2">
                <li>Number</li>
                <li>7020880419</li>
              </div>
            </ul>
            <div class="flex justify-evenly mt-5 text-xs">
              <button
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-4 px-10 rounded mt-8"
              >
                <a
                  href="https://www.google.com/maps/search/?api=1&query={{lat}}%2C{{log}}"
                >
                  Map
                </a>
              </button>
            </div>
          </div>
          <div
            class="items-center bg-yellow-400 border rounded-2xl h-20 flex justify-center text-base mt-4 text-black font-semibold"
          >
            Rescued
          </div>
        </main>
      </div>
    </div>

    <footer class="fixed border border-t-1 border-b-0 pt-2 w-full bottom-5">
      <div class="container bg-white">
        <div class="flex justify-center gap-20">
          <img
            src="{{url_for('static',filename='Staff/images/home.png')}}"
            alt=""
            class="w-5 h-5"
          />
          <img
            onclick=" nav_img()"
            src="{{url_for('static',filename='Staff/images/support.png')}}"
            alt=""
            class="w-5 h-5"
          />
          <img
            src="{{url_for('static',filename='Staff/images/message.png')}}"
            alt=""
            class="w-5 h-5"
          />
        </div>
      </div>
    </footer>
    <!-- <script>
      var nav_img_count = 1;
      nav_img = () => {
        if (nav_img_count) {
          document.getElementById("nav_bar").className = " ";
          nav_img_count = 0;
        } else {
          document.getElementById("nav_bar").className = "hidden md:block ";
          nav_img_count = 1;
        }
      };
    </script> -->
  </body>
</html>
