<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/TailwindCss/output.css')}}"
    />
    <title>{% block title %}sf{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
    <div>
      {% block nav %}
      <h1 class="text-red-500">i am nav bar</h1>
      {% endblock %}
    </div>
    <div id="content">
      {% block content %}
      <h1>sdf</h1>
      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %} &copy; Copyright 2010 by
      <a href="http://domain.invalid/">you</a>. {% endblock %}
    </div>
  </body>
</html>
